@font-face {
    font-family: 'Outfit-Bold';
    src: url('Outfit-Bold.ttf');   
}

@font-face {
    font-family: 'Outfit-Regular';
    src: url('Outfit-Regular.ttf');   
}

* {
    padding: 0;
    margin: 0;
}

/* CONTAINERS*/
body {
    background-color: hsl(212, 45%, 89%);
    width: 100%;
    height: auto;
    /* margin: 40% 10%; */
}

.container {
    color: hsl(0, 0%, 100%);
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    margin: 30% 7.5%;
    width: 85%
}


/* BARCODE */
.image1 {
    width: 90%;
    color: green;
    margin: 5.5% 0;
    overflow: hidden;
    border-radius: 10px;
}


/* TEXT */
.first-paragraph {
    color: hsl(218, 44%, 22%);
    font-size: 133%;
    font-family:Outfit-Bold;
    margin-bottom: 5%;
}

.second-paragragh {
    color: hsl(220, 15%, 55%);
    font-family: 'Outfit-Regular';
    font-size: 92%;
    padding-bottom: 13%;
}